<h1>Charge Customer</h1>

<%= form_for(@payment, html: { class: 'content-pad' }) do |f| %>
  <%= f.hidden_field :stripe_card_token %>
	<fieldset>
	  <div class="field">
	    <label for="payment_amount">Amount<span class="currency_symbol">$</span></label>
	    <%= f.text_field :amount %>
	  </div>
		<% end %>
	</fieldset>
  <div class="actions">
			<%= content_tag(:div, @payment.errors.full_messages.first, class: "error") if @payment.errors.any? %>
		<noscript class="error">JavaScript is required for this form, please enable it.</noscript>
		<div class="button-outer-wrap">
			<div class="button-inner-wrap"><%= f.submit "Pay Now" %></div>
		</div.>
  </div>
<% end %>