<h1>Make a Payment</h1>

<%= form_for(@payment, html: { class: 'content-pad' }) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :stripe_card_token %>
	<fieldset>
	  <div class="field">
				
	    <label for="payment_Amount">Amount<span class="currency_symbol">$</span></label>
	    <%= f.text_field :amount %>
	  </div>
	  <div class="field">
	    <%= f.label :name %>
	    <%= f.email_field :name %>
	  </div>
		<% if @payment.stripe_card_token %>
			Credit Card has been provided.
		<% else %>
		  <div class="field">
		    <%= label_tag :card_number, "Card Number" %>
		    <%= text_field_tag :card_number, nil, name: nil, size: 20, maxlength: 16 %>
		    <%= label_tag :card_code, "CVV", class: "inline" %>
		    <%= text_field_tag :card_code, nil, name: nil, size: 3, maxlength: 3 %>
		  </div>
		  <div class="field select">
		    <%= label_tag :card_month, "Expiration Date" %>
		    <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
		    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year + 15}, {name: nil, id: "card_year"} %>
		  </div>
		<% end %>
	</fieldset>
  <div class="actions">
		<div id="stripe_error">
		  <noscript>JavaScript is required for this form, please enable it.</noscript>
		</div>
		<div class="button-wrap">
			<%= f.submit "Pay Now" %>
		</div.>
  </div>
<% end %>
